#Hard-coded names. Invent a smarter way to do it ASAP
apiVersion: v1
kind: ConfigMap
metadata:
  name: zookeeper
  namespace: default
data:
  connect: zookeeper-0.zookeeper-service.default.svc.cluster.local:2181
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-service
  labels:
    app: zookeeper
spec:
  ports:
    - port: 2888
      name: server
    - port: 3888
      name: leader-election
  clusterIP: None
  selector:
    app: zookeeper
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
spec:
  selector:
    matchLabels:
      app: zookeeper
  serviceName: zookeeper-service
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: kubernetes-zookeeper
          imagePullPolicy: Always
          image: "confluentinc/cp-zookeeper"
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              value: "2181"
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: zookeeper
  name: alt-zookeeper
spec:
  containers:
    - name: zookeeper
      image: "zookeeper"
