apiVersion: batch/v1
kind: Job
metadata:
  name: fetcher-it
spec:
  template:
    spec:
      containers:
        - name: it
          image: benchmarkai/fetcher-it
          imagePullPolicy: Always
          env:
            - name: S3_DATASET_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: outputs-infrastructure
                  key: data_pull_s3
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: outputs-infrastructure
                  key: msk_bootstrap_brokers
            - name: ZOOKEEPER_ENSEMBLE_HOSTS
              valueFrom:
                configMapKeyRef:
                  name: zookeeper
                  key: connect
            - name: FETCHER_JOB_IMAGE
              valueFrom:
                configMapKeyRef:
                  name: fetcher-dispatcher
                  key: job_image
            - name: FETCHER_JOB_NODE_SELECTOR
              valueFrom:
                configMapKeyRef:
                  name: fetcher-dispatcher
                  key: job_node_selector
            - name: FETCHER_JOB_PULL_POLICY
              valueFrom:
                configMapKeyRef:
                  name: fetcher-dispatcher
                  key: pull_policy
            - name: CONSUMER_GROUP_ID
              value: common-it-to-salt
            - name: CONSUMER_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: fetcher-dispatcher
                  key: consumer_topic
            - name: PRODUCER_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: fetcher-dispatcher
                  key: producer_topic
      restartPolicy: Never
  backoffLimit: 0
