name: baictl
channels:
  - conda-forge
  - defaults
dependencies:
  - jq >=1.6
  - terraform >=0.11
  - aws-iam-authenticator >=1.11
  - kubernetes >= 1.13
  - toml >= 0.10.0
  - python-kubernetes >= 8.0.1
  - ruamel.yaml >= 0.15