# BenchmarkAI meta
spec_version = "0.1.0"

# These fields don't have any impact on the job to run, they contain
# merely informative data so the benchmark can be categorized when displayed
# in the dashboard.
[info]
description = """ \
    An example benchmark using Horovod as distributed training strategy. \
    Running TensorFlow 1.14. \
    """

# Labels for metrics
[info.labels]
# Labels and values must be 63 characters or less, beginning and ending with an alphanumeric character
# ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between
# task_name is a mandatory label which will be exported as a dimension for this job's metrics
task_name = "horovod_benchmark_example"

# 1. Hardware
[hardware]
instance_type = "p3.8xlarge"
strategy = "horovod"
# This example has to run on the us-east-1 region (comment out aws_zone_id if your anubis is in another region)
# We target this specific availability zone (AZ) because not all AZs have p3.8xlarge instances
aws_zone_id="use1-az2"

# [Opt]
[hardware.distributed]
num_instances = 2

# 2. Environment
[env]
# Docker hub <hub-user>/<repo-name>:<tag> 
docker_image = "benchmarkai/horovod:100719"
privileged = true

# 3. Machine learning related settings: 
# dataset, benchmark code and parameters it takes
[ml]
args = "8"

# [Opt] 4. Dataset 
[data]
# [Opt] Data sources
# List all required data sources below. 
# Make an entry for each with the same format as the ones below.
[[data.sources]]
# Data download URI.
src = "https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz"
# Path where the dataset is stored in the container FS
path = "/root/.keras/datasets/mnist.npz"
md5 = "8a61469f7ea1b51cbae51d4f78837e45"
