apiVersion: v1
kind: ConfigMap
data:
  grafana_results_url: "{grafana_endpoint}/d/{dashboard_id}/orgId=1&var-datasource=Prometheus&var-cluster=&var-namespace=default&var-client_id={client_id}&var-action_id={action_id}"
metadata:
  name: watcher
  namespace: default
